.alt-header__right{
    margin-left: 15px;
}
.main-chat{
    margin-top: 80px;
}
.chat__timestamp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.chat__timestamp span{
    width: 200px;
    height: 30px;
    border: 10px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.message-row__own{
    justify-content: flex-end;
}
.message-row__own .message__text{
    background-color: var(--yellow);
    border-radius: 10px;
    border-top-right-radius: 0px;
}
.message-row__own .message__block{
    flex-direction: row-reverse;
}
.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    margin-right: 10px;
}
.message__author{
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 7px;
    display: block;
}
.message__block{
    display: flex;
    align-items: flex-end;
}
.message__text{
    max-width: 50vw;
    background-color: white;
    padding: 10px 13px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    font-size: 18px;
}
.message__time{
    margin:0px 5px;
    opacity: 0.8;
    font-size: 13px;
}
.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 30px;
}
.reply__column{
    display: flex;
    align-items: center;
}
.reply__column:first-child{
    width: 30px;
    margin-right: 10px;
}
.reply__column:nth-child(2) {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}
.reply__column input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 25px;
}
.reply__column:last-child{
    width: 90px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
    
}
.reply__column button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#chat-screen{
    background-color: #abc1d1;
}
#chat-screen .status-bar,
#chat-screen .alt-header{
    top: 0;
    background-color: #abc1d1;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}