.user-component{
    display: flex;
}
.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component__img{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    margin-right: 20px;
}
.user-component__img--xl{
    width: 70px;
    height: 70px;
}
.user-component__img--xs{
    width: 50px;
    height: 50px;
}
.user-component__title{
    font-weight: 600;
    font-size: 22px;
}
.user-component__subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: gray;
}